.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007ea7;
}

.navbar li {
    float: left;
    /* background-color: #6699CC; */
}
  
.navbar li a {
  background-color: #007ea7;
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: #003459;
    color:white;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #007ea7;
    color: white;
    text-align: center;
  }

  .footer img {
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: #007ea7;
  }
